@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Raleway&display=swap');

body {
  background-color: #EDCD7E;
}

.App {
  background-color: #EDCD7E;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.about-links {
  display: flex;
  list-style: none;
  justify-content: center;
  li {
    padding: 10px;
  }
}

.hello {
  padding-top: 8vh;
}
.bio {
  max-width: 600px;
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100vw;
  // background-color: #303030;
  color: #56827F;
  
  ul {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 7px;
  list-style: none;
    li{
      padding-left:5px;
      padding-top: 2px;
      &:hover {
        color: darken(#56827f, 20%)
      }

    }
  }
}