@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Raleway&display=swap');

body {
  background-color: #EDCD7E;
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100vw;
  height: 15px;
  background-color: #303030;
  color: #EDCD7E;
  font-size: 10px;
}